*{
    margin: 0 auto;
}

body{
   width: auto;
   
}
/* Шапка */
header{
height: 75px;
width: 100%;
background-color: #222222;
}
/* logo group */


.brand-icons{
position: absolute;
height: 38px;
width: 44px;
left: 231px;
top: 10px;
}

.search-icons{
margin-left: 41px; 
position: absolute;
bottom: 98.56%;
height: 26px;
width: 26px;
left: 315px;
top: 20px;
}
/* button copy */

.button-copy{
height: 37px;
width: 168px;
margin-top: 20px;
margin-right: 80px;
float: right;
display: flex;

}
.button-copy img{
    margin-top: 5px;
    height: 25px;
    width: 25px;
}



.new-arrivals{
height: 148px;
width: 100%;
top: 75px;
background: #F8F3F4;

}
.new-arrivals h3{
height: 29px;
width: 194px;
left: 239px;
top: 134px;
text-transform: uppercase;
position: absolute;
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
color: #F16D7F;
}

.page-navigation{
height: 17px;
width: 209px;
float: right;
margin-top: 65px;
margin-right: 230px;
font-family: Lato;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;

}

.page-navigation a{
text-transform: uppercase;
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #636363;
text-decoration: none;
margin-left: 5px;
}
.page-navigation .active-href {
    color: #F16D7F;
}
.header-nav{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    height: 100px;
    width: 1000px;
    float: left;
    margin-left: 100px;
}












/*main*/
    .image-slide{
        width: 100%;
        height: auto;
        background: #F7F7F7;
        display: flex;
        align-items: center;
        
    }
    
    .content-slide img{
        z-index: 1;
    }
    .slie-left{
        width: 47px;
        height: 47px;
        background: rgba(128, 128, 128, 0.712);
        margin: 0%;
        
    }


    .slide-reight{
        width: 47px;
        height: 47px;
        background: rgba(128, 128, 128, 0.712) ;
        float: right;
        margin: 0%;
    }

    .slie-left img{
        margin: 10px;
    }

    .slide-reight img{
        margin: 10px;
    }



    .opisanie{
        
        height: 701px;
        width: 1141px;
        position: relative;
        top: -50px;
        border-radius: 0px;
        background: #FFFFFF;
        border: 1px solid white);
    }
    .opisanie h4{
        margin-top: 144px;
        height: 17.143823623657227px;
        width: 176px;
        border-radius: nullpx;
        text-transform: uppercase;
        color: #F16D7F;
        font-family: "Lato";
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
    }
    .opisanie h2{
        height: 22.186124801635742px;
        width: 253px;
        margin-top: 12px;
        text-transform: uppercase;
        color: #4d4d4d;
        font-family: "Lato";
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
    }
    .opisanie p{
        margin-top: 48px;
        height: 51.43147277832031px;
        width: 555px;
        font-family: "Lato";
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;

    }
 #zena{
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    
    color: #EF5B70;
 }
    .opisanie #rosehr{
        margin-top: 12px;
        height: 3px;
        width: 63px;      
        background: #EF5B70;
    }
  .opisanie hr{
     margin-top: 65px; ;
    width: 80%;
    background-color:#EAEAEA ;
    border: 1px solid #EAEAEA;
  }
  .opisanie button{
      background-color: white;
      border: 2px solid #F16D7F;
      height: 47px;
      width: 211px;
    margin-top: 48px;
    display: flex;
    flex-flow: row wrap ;
    align-items: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    padding-right: 15px;
  }

  .sort{
      margin-top: 65px;
    display: flex;
    justify-content: space-around;
    height: 17px;
    width: 30%;
    }
    
    .sort h3{
        text-transform: uppercase;
        color: #6F6E6E;
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
        margin-left: 15px;
    }
    .sort img{
        margin-left: 5px;
    }

    .card{
        width: 80%;
        height: auto;
        display: flex;
        flex-flow: wrap row;
        margin-bottom: 128px;
    }
    .winter-jacket{
    height: 581px;
    width: 360px;
    background: #F8F8F8;
    margin-top: 48px;
    
    }
    
    .winter-jacket h4{
    text-transform: uppercase;
    height: 16px;
    width: 148;
    margin-top: 25px;
    margin-left: 18px ;
    top: 2021px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight:bold;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    
    }
    
    .winter-jacket p{
        font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    margin: 12px 0 18px 18px ;
    
    color: #9F9F9F;
    }
    .winter-jacket span{
    font-family: 'Lato', sans-serif;
    height: 19px;
    width: 52px;
    margin-left: 18px;
    color:  #F16D7F;
    }
       
    
    
    
    .womens-dress{
    height: 581px;
    width: 360px;
    margin-left: 30px;
    margin-top: 48px;
    background: #F8F8F8;
    }
        
    .womens-dress h4{
    text-transform: uppercase;
    height: 16px;
    width: 148;
    margin-top: 25px;
    margin-left: 18px ;
    top: 2021px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight:bold;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    }
        
    .womens-dress p{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    margin: 12px 0 18px 18px ;   
    color: #9F9F9F;
    }
    .womens-dress span{
    font-family: 'Lato', sans-serif;
    height: 19px;
    width: 52px;
    margin-left: 18px;
    color:  #F16D7F;
    }
    .jacket{
    margin-top: 48px;
    height: 581px;
    width: 360px;
    margin-left: 30px;
    background: #F8F8F8;
    }
            
    .jacket h4{
    text-transform: uppercase;
    height: 16px;
    width: 148;
    margin-top: 25px;
    margin-left: 18px ;
    top: 2021px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight:bold;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    }
            
    .jacket p{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    margin: 12px 0 18px 18px ;
    color: #9F9F9F;
    }
    .jacket span{
    font-family: 'Lato', sans-serif;
    height: 19px;
    width: 52px;
    margin-left: 18px;
    color:  #F16D7F;
    }
    
    
    .t-shirt{
    height: 581px;
    width: 360px;
    margin-top: 78px;
    background: #F8F8F8;
    }
                
    .t-shirt h4{
    text-transform: uppercase;
    height: 16px;
    width: 148;
    margin-top: 25px;
    margin-left: 18px ;
    top: 2021px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight:bold;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    }
                
    .t-shirt p{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
     margin: 12px 0 18px 18px ;
    color: #9F9F9F;
    }
    .t-shirt span{
    font-family: 'Lato', sans-serif;
    height: 19px;
    width: 52px;
    margin-left: 18px;
    color:  #F16D7F;
    }








/*mailing*/

.mailing{
    width: 100%;
    height: 448px;
    margin: 0 auto;
    background: url(../img/photo\ subscribe.jpg);
    display: flex;
    align-items: center;
    }
    .subscribe-info{
    width: 359.45px;
    height: 225px;
    
    }
    
    .subscribe-info p{
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    margin-top: 80px;
    }
    
    .subscribe{
    height: 142px;
    width: 557px;
    }
    
    .subscribe h2{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    }
    .subscribe h3{
        font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    }
    .forma-input{
        display: flex;
        
        width: 356px;
    }
    .mailing-form{
    height: 49px;
    width: 256px;
    background: #E1E1E1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0;
    }
    
    .ruunder1{
    height: 49px;
    width: 100px;
    background: #F16D7F;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
    }
    .forma-input input{
    height: 20px;
    width: 170px;
    border: 0 solid;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-top: 8px;
    margin-left: 20px;
    background-color:#E1E1E1; ;
    color: #222224;
    opacity: 0.67;
    }
    .ruunder1 button{
    height: 36px;
    width: 85px;
    background: #F16D7F;
    border: 0 solid;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    }
    
    
    /*footer*/
    
    footer{
    height: 79px;
    width: 100%;
    background: #222224;
    }
    
    footer P{
    height: 19px;
    width: 332px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin: 0 auto;
    float: left;
    margin-left: 235px;
    margin-top: 30px;
    color: #FBFBFB;
    }
    
    .icons{
    height: 32px;
    width: 177px;
    border-radius: 0px;
    float: right;
    margin-top: 24px;
    margin-right: 230px;
    }
    
    
    .faccebok-icons, .instaram-icons, .pixess-icons, .twitter-icons {
        background-color: #E1E1E1;
        width: 20px;
        height: 20px;
        float: left;
        margin-left: 10px;
        text-align: center;
        padding-top: 5px;
    }